@if (isEditable) {
<mat-form-field [ngClass]="isMobile ? 'mat-form-field__mobile' : 'mat-form-field'">
  <mat-label [vmTranslate]="translationKey + '.' + labelKey"></mat-label>
  <mat-select
    [required]="isRequired"
    ngDefaultControl
    [compareWith]="compareFn"
    [formControl]="formControl"
    [attr.aria-label]="labelKey | translate"
  >
    @if (searchControl.value) {
    <mat-select-trigger>
      {{ searchControl.value.code | translate }}
    </mat-select-trigger>
    }
    <mat-option>
      <ngx-mat-select-search
        [noEntriesFoundLabel]="'GLOBAL.NO_ENTRIES_FOUND' | translate"
        [placeholderLabel]="'GLOBAL.SEARCH' | translate"
        [formControl]="searchControl"
      ></ngx-mat-select-search>
    </mat-option>
    @for (option of sortedOptions$ | async | filterPipe : searchControl.value : labelKey + '.'; track option) {
    <mat-option [value]="option" [attr.aria-label]="option.code | translate">
      {{ labelKey + '.' + option.code | translate }}
    </mat-option>
    }
  </mat-select>
</mat-form-field>
} @if (!isEditable) {
<mat-form-field>
  <mat-label vmTranslate="{{ labelKey | translate }}" [attr.aria-label]="labelKey | translate"></mat-label>
  <input matInput [attr.aria-label]="translationKey" value="{{ translationKey + item.code | translate }}" disabled />
</mat-form-field>
}
