@import '../../../../../assets/scss/global';
.main-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
  .mat-card {
    padding: 0;
    margin-bottom: 0;
    .mat-form-field {
      display: block;
      padding: 0 30px 0 30px;
    }
  }
}
