<div class="detail-wrapper">
  <mat-card class="detail-wrapper__card" [ngClass]="isMobile ? 'mat-elevation-z0' : 'mat-elevation-z10'">
    <mat-card-header class="detail-wrapper__card-title mat-card-title">
      <mat-card-title
        *ngIf="vaccination"
        [attr.aria-label]="'VACCINATION.EDIT_HEADER' | translate"
        vmTranslate="VACCINATION.EDIT_HEADER"
      ></mat-card-title>
      <mat-card-title
        *ngIf="!vaccination"
        [attr.aria-label]="'VACCINATION.NEW_HEADER' | translate"
        vmTranslate="VACCINATION.NEW_HEADER"
      ></mat-card-title>
    </mat-card-header>

    <mat-card-content class="detail-wrapper__card-content form-wrapper">
      <form
        [formGroup]="editForm"
        #formGroupDirective="ngForm"
        name="form"
        novalidate
        (ngSubmit)="save()"
        class="form-wrapper__form"
        role="form"
      >
        <vm-reusable-date-field
          [formControl]="editForm.controls.occurrenceDate"
          [labelTranslationKey]="'VACCINATION.DATE'"
          [isEditable]="true"
          formControlName="occurrenceDate"
        ></vm-reusable-date-field>

        <vm-reusable-select-field-with-search
          #singleSelect
          [isRequired]="true"
          [options$]="vaccinationFilteredList"
          [item]="vaccination?.code!"
          [isEditable]="true"
          [translationKey]="'VACCINATION'"
          [labelKey]="'VACCINE_CODE'"
          [formControl]="editForm.controls.vaccineCode"
          formControlName="vaccineCode"
        ></vm-reusable-select-field-with-search>

        <mat-form-field [attr.aria-label]="'VACCINATION.TARGET_DISEASES' | translate" class="detailed-card-content__form-field">
          <input
            matInput
            placeholder="{{ 'VACCINATION.TARGET_DISEASES' | translate }}"
            [attr.aria-label]="'VACCINATION.SEARCH_TARGET_DISEASES' | translate"
            required="true"
            formControlName="targetDiseases"
            [formControl]="diseasesChips.ctrl"
            [matAutocomplete]="autoDiseases"
            [matChipInputFor]="diseasesChipsList"
          />
          <mat-chip-grid #diseasesChipsList>
            <mat-chip-row
              *ngFor="let i of diseasesChips.selected"
              [removable]="true"
              (removed)="diseasesChips.remove(i, editForm)"
              [attr.aria-label]="'vaccination-targetdiseases.' + i.code | translate"
              color="accent"
            >
              {{ 'vaccination-targetdiseases.' + i.code | translate }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-row>
          </mat-chip-grid>
          <mat-autocomplete #autoDiseases="matAutocomplete" (optionSelected)="diseasesChips.select($event, editForm)">
            <mat-option
              *ngFor="let v of diseasesChips.filtered | async"
              [value]="v"
              [attr.aria-label]="'vaccination-targetdiseases.' + v.code | translate"
            >
              <mat-checkbox
                [aria-label]="
                  v.selected
                    ? ('vaccination-targetdiseases.' + v.code + 'VACCINATION.ACTIVE' | translate)
                    : ('vaccination-targetdiseases.' + v.code + 'VACCINATION.INACTIVE' | translate)
                "
                [checked]="v.selected"
              >
                {{ 'vaccination-targetdiseases.' + v.code | translate }}
              </mat-checkbox>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="detailed-card-content__form-field">
          <mat-label vmTranslate="VACCINATION.DOSE_NUMBER"></mat-label>
          <input
            matInput
            type="number"
            [attr.aria-label]="('VACCINATION.DOSE_NUMBER' | translate) + ' ' + ('VACCINATION.DOSE_NUMBER_FORMAT' | translate)"
            formControlName="doseNumber"
            required="true"
          />
        </mat-form-field>

        <mat-form-field class="detailed-card-content__form-field">
          <mat-label vmTranslate="VACCINATION.LOT_NUMBER"></mat-label>
          <input matInput [attr.aria-label]="'VACCINATION.LOT_NUMBER' | translate" formControlName="lotNumber" />
        </mat-form-field>

        <mat-card class="mat-elevation-z0 form-wrapper__form-recorder" fxLayout="column" fxLayoutAlign="center">
          <mat-label
            class="form-wrapper__form-recorder__label"
            [attr.aria-label]="'VACCINATION.RECORDER' | translate"
            vmTranslate="VACCINATION.RECORDER"
          ></mat-label>
          <div formGroupName="recorder" [ngClass]="isMobile ? 'mobile-recorder--fields' : 'recorder--fields'">
            <mat-form-field class="recorder-form-field">
              <mat-label [attr.aria-label]="'USER.PREFIX' | translate" vmTranslate="USER.PREFIX"></mat-label>
              <input [attr.aria-label]="'USER.PREFIX' | translate" matInput formControlName="prefix" />
            </mat-form-field>

            <mat-form-field class="recorder-form-field">
              <mat-label [attr.aria-label]="'USER.FIRSTNAME' | translate" vmTranslate="USER.FIRSTNAME">First Name </mat-label>
              <input
                matInput
                [attr.aria-label]="'USER.FIRSTNAME' | translate"
                formControlName="firstName"
                #fName
                [required]="!org.value || !!lName.value"
              />
            </mat-form-field>

            <mat-form-field class="recorder-form-field">
              <mat-label [attr.aria-label]="'USER.LASTNAME' | translate" vmTranslate="USER.LASTNAME">Last Name </mat-label>
              <input
                matInput
                [attr.aria-label]="'USER.LASTNAME' | translate"
                formControlName="lastName"
                #lName
                [required]="!org.value || !!fName.value"
              />
            </mat-form-field>
          </div>
        </mat-card>

        <mat-form-field class="detailed-card-content__form-field">
          <mat-label vmTranslate="GLOBAL.ORGANIZATION"></mat-label>
          <input
            matInput
            type="text"
            formControlName="organization"
            [attr.aria-label]="'USER.ORGANIZATION' | translate"
            required="true"
            #org
            [required]="!fName.value"
          />
        </mat-form-field>
        <mat-form-field *ngIf="isMobile" class="detailed-card-content__form-field">
          <mat-label [attr.aria-label]="'GLOBAL.COMMENT' | translate" class="mat-label" vmTranslate="GLOBAL.COMMENT"></mat-label>
          <textarea
            matInput
            [value]="editForm.get('comment')?.value?.text || ''"
            (input)="commentMessage = $event.target.value"
            [attr.aria-label]="'GLOBAL.COMMENT' | translate"
            [placeholder]="'COMMENT.PLACEHOLDER' | translate"
          ></textarea>
        </mat-form-field>

        <vm-reusable-select-field-with-search
          [options$]="confidentialityList"
          [item]="vaccination?.confidentiality!"
          [isEditable]="true"
          [translationKey]="'GLOBAL'"
          [labelKey]="'CONFIDENTIALITY'"
          [formControl]="editForm.controls.confidentiality"
          formControlName="vaccineCode"
        ></vm-reusable-select-field-with-search>

        <vm-common-card-footer
          [isEditFooter]="true"
          [dialogTitle]="helpDialogTitle | translate"
          [dialogBody]="helpDialogBody | translate"
          (edit)="save()"
          [disabled]="editForm.invalid || isSaving"
        ></vm-common-card-footer>
      </form>
    </mat-card-content>
  </mat-card>
  <vm-comment
    class="detail-wrapper__comment"
    [(commentMessage)]="commentMessage"
    [comment]="vaccination?.comment!"
    [canAddComments]="true"
  ></vm-comment>
</div>
