@use 'src/assets/scss/global';

.actions {
  button {
    display: flex;
    justify-content: center;
    align-items: center;

    .button-text {
      order: 1;
    }

    mat-icon {
      order: 2;
      margin-left: 8px;
    }
  }

  &.mobile {
    @include global.flex-center(center, center, column);

    button {
      width: 150px !important;
      margin-bottom: 10px;
    }
  }

  &.desktop {
    @include global.flex-center(center, center, row);
  }
}

* {
  margin: 0 4px;
  --mat-menu-item-label-text-weight: 500;
}
