@import 'src/assets/scss/global';
.actions {
  & .download-btn {
    display: none;
  }
  @include media-breakpoint(tm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 120px);
    position: absolute;
    row-gap: 25px;
    bottom: 0;
    width: 100%;
    & button {
      width: 150px !important;
    }
    & .download-btnIcon {
      display: none;
    }
    & .download-btn {
      display: block;
    }
  }
}
