<mat-card-actions class="actions" [ngClass]="{ mobile: isMobile || isTablet, desktop: isDesktop }">
  <button mat-raised-button type="button" [attr.aria-label]="'buttons.EXPORT'" color="accent" (click)="exportPdf()" class="mat-button">
    <ng-container class="button-content">
      <span class="button-text" [vmTranslate]="'buttons.EXPORT'"></span>
    </ng-container>
  </button>

  <!-- Desktop view: More button with dropdown menu -->
  <div *ngIf="isDesktop">
    <button
      mat-raised-button
      color="accent"
      [matMenuTriggerFor]="moreMenu"
      (click)="showMoreOptions = !showMoreOptions"
      [ngClass]="{ 'more-active': showMoreOptions }"
    >
      <span class="button-text" [vmTranslate]="'buttons.MORE'"></span>
      <mat-icon>{{ showMoreOptions ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="save()" [disabled]="isEmergencyMode" [attr.aria-label]="'buttons.SAVE_TO' | translate">
        <span [vmTranslate]="'buttons.SAVE_TO'"></span>
      </button>
      <button mat-menu-item (click)="download()" [attr.aria-label]="'buttons.DOWNLOAD'">
        <span [vmTranslate]="'buttons.DOWNLOAD'"></span>
      </button>
    </mat-menu>
  </div>

  <!-- Mobile and Tablet views: Individual raised buttons -->
  <div *ngIf="isMobile || isTablet">
    <button
      mat-raised-button
      color="accent"
      (click)="save()"
      [disabled]="isEmergencyMode"
      [attr.aria-label]="'buttons.SAVE_TO' | translate"
    >
      <span [vmTranslate]="'buttons.SAVE_TO'"></span>
    </button>
    <button mat-raised-button color="accent" (click)="download()" [attr.aria-label]="'buttons.DOWNLOAD'">
      <span [vmTranslate]="'buttons.DOWNLOAD'"></span>
    </button>
  </div>

  <button
    type="button"
    mat-raised-button
    [color]="!isMobile || !isTablet ? undefined : 'accent'"
    [ngClass]="isMobile || isTablet ? 'mat-accent' : 'mat-action-button'"
    [attr.aria-label]="'buttons.HELP' | translate"
    (click)="dialog.openDialog('HELP.VACCINATION_RECORD.HELP.TITLE', 'HELP.VACCINATION_RECORD.HELP.BODY')"
    [matTooltip]="'buttons.HELP' | translate"
  >
    <ng-template [ngIf]="isMobile || isTablet"><span class="button-text" [vmTranslate]="'buttons.HELP'"></span> </ng-template>
    <ng-template [ngIf]="isDesktop">
      <mat-icon class="mat-icon help-icon">help</mat-icon>
    </ng-template>
  </button>
</mat-card-actions>
