@import 'src/assets/scss/global';

.actions {
  &.mobile {
    @include flex-center(center, center, column);

    button {
      width: 150px !important;
      margin-bottom: 10px;
    }
  }

  &.desktop {
    @include flex-center(center, center, row);
  }

  & .download-btn {
    display: none;
  }
}

* {
  margin: 0 4px;
}
