/* =============== font family  ================= */

$font-family-base: Roboto, 'Helvetica Neue', sans-serif;

/* =============== fonts sizes  ================= */

$logo-size-desktop: 60px;
$logo-size-mobile: 40px;
$community-logo-size-desktop: 150px;
$community-logo-size-mobile: 150px;
$toolbar-height-desktop: 120px;
$toolbar-height-mobile: 60px;
$logout-button-size-desktop: 30px;
$logout-button-size-mobile: 30px;
$line-height-base: 16px;

/* =============== fonts colors ================= */

$toolbar-background-color: #fff;

/* ========= spacer using padding and margin */

$padding: 16px;
$padding-left-right-50: 0 50px 0 50px;
$recorder-label-padding-left: 30px;
$form-field-padding: 0 30px 0 30px;
