@import './_breakpoints';
@import './vendor';

*,
body,
html {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color-base: rgba(0, 0, 0, 1);
  --text-color-secondary: rgba(0, 0, 0, 0.8);
  --accent-color: rgba(2, 101, 96, 1);
  --alert-color: rgba(204, 29, 16, 1);
  --background-color: rgb(255, 255, 255);

  --font-size-base: 12pt;
}

/* =============== variables  ================= */

/* =============== fonts sizes  ================= */

/* =============== fonts colors ================= */

$line-height-base: 16px;

/* ========= spacer using padding and margin */

$padding: 16px;
$padding-left-right-50: 0 50px 0 50px;
$recorder-label-padding-left: 30px;
$form-field-padding: 0 30px 0 30px;

/* =============== mixin  ================= */

@mixin flex-center($JustifyContent, $AlignItems, $FlexDirection) {
  display: flex;
  justify-content: $JustifyContent;
  align-items: $AlignItems;
  flex-direction: $FlexDirection;
}

/* =============== classes ================= */
a:focus {
  box-shadow: 0 0 5px #000;
  padding: 5px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*================= Entity detailed Component ========================*/
.detail-wrapper {
  display: grid;
  grid-template-columns: repeat(19, calc(5vw - 10px));
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  margin-top: 50px;

  &__card {
    grid-column-start: 2;
    grid-column-end: 13;
    &-title {
      color: var(--text-color-secondary);
      font-style: italic;
      transform: translateX(-16px);
    }
  }
  &__comment {
    grid-column-start: 13;
    grid-column-end: 18;
    grid-row-start: 1;
    grid-row-end: auto;
  }

  @include media-breakpoint(tm) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

.detailed-card-content {
  .mat-form-field-autofill-control {
    color: var(--text-color-base);
  }
  .recorder {
    padding: 0;
    display: inline-flex;
    justify-content: space-evenly;
    &__label {
      font-size: calc(var(--font-size-base) * 0.75);
    }

    &--fields {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      max-width: 100%;
      padding-right: 25px;
      @include media-breakpoint(tm) {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 0;
      }
    }
  }
}
.mobile-detail-wrapper {
  width: 100vw;
  padding: 5vw;
  & .details__action {
    display: none;
  }
  & vm-comment {
    display: none;
  }
  .recorder {
    &--fields {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      row-gap: -50px !important;
    }
  }
}

@include media-breakpoint(tm) {
  .datesWrap {
    flex-direction: column !important;
  }
}
/*================= Entity form Component ========================*/
.detail-wrapper {
  .form-wrapper {
    &__form {
      display: flex;
      flex-direction: column;
      &-date-range {
        padding: 0;
      }

      &-recorder {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        mat-label {
          font-size: calc(var(--font-size-base) * 0.85) !important;
          line-height: calc(var(--font-size-base) * 0.9 * 1.5) !important;
        }
        .recorder--fields {
          mat-label {
            font-size: calc(var(--font-size-base)) !important;
            line-height: calc(var(--font-size-base) * 0.9 * 1.5) !important;
          }
        }

        & > *:nth-child(2) {
          padding: 0;
          display: inline-flex;
          justify-content: space-between;
        }
      }
    }

    .mobile-recorder {
      &--fields {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
      }
    }
  }
}

/*================= Entity list Component ========================*/

.list-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 10px;
  height: calc(100vh - 200px);

  & > :nth-child(1) {
    grid-column: 1 / 12;
    grid-row: 1 / 2;
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 0;
  }

  & > :nth-child(2) {
    grid-column: 1 / 12;
    grid-row: 3 / 4;
    grid-column-start: 2;
    grid-row-start: 2;
    mat-header-cell,
    th {
      @for $i from 1 through 10 {
        width: calc(100% / $i) !important;
        &:nth-child(#{ $i }) {
          @if ($i == 1) {
            width: 1% !important;
          }
          @if ($i == 2) {
            width: 5% !important;
          }
        }
      }
    }
    td {
      @for $i from 1 through 10 {
        width: calc(100% / $i) !important;
        &:nth-child(#{ $i }) {
          @if ($i == 1) {
            width: 1% !important;
          }
          @if ($i == 2) {
            width: 5% !important;
          }
        }
      }
    }
  }
}
.mobile-list-wrapper {
  display: block;
  padding: 15px;
}

// =============== Navbar =================

.h3-header {
  font-size: calc(var(--font-size-base) * 1.125);
  color: var(--text-color-secondary);
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--text-color-base);
  font-size: var(--font-size-base);
  font-weight: 350;
  cursor: pointer;
}

.active {
  color: var(--text-color-base);
  font-weight: bold;
}

.vm-progress-spinner {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  background: #ffffffc9;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;

  svg {
    position: relative;
    circle {
      stroke: var(--accent-color);
    }
  }
}

.mat-progress-spinner svg {
  position: relative !important;
}

@include media-breakpoint(xs) {
  /*responsive style*/
  .mat- {
    &card {
      grid-template-columns: auto !important;
      flex-direction: column !important;

      &-subtitle {
        flex-direction: column !important;
      }

      & mat-form-field {
        width: 100%;
      }

      &-actions {
        margin-left: 0;
        margin-right: 0;
      }

      vm-common-card-footer .mat-card .footer-action-section {
        text-align: center;
      }

      &-details {
        margin-right: 0 !important;
      }

      &-header {
        flex-direction: column;
        max-height: none !important;
      }
    }

    &table {
      &-wrapper {
        overflow-x: auto;

        table {
          min-width: 600px;
        }
      }
    }
  }
}

.download-icon {
  font-size: 1.5rem;
  cursor: pointer;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.help-icon {
  vertical-align: middle;
}

.commentsContent {
  display: none;

  background: var(--background-color-base);
  @include media-breakpoint(tm) {
    display: block;
    max-width: 100vw;
  }
  &_card {
    display: none;
    @include media-breakpoint(tm) {
      padding: 0;
      .comment-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .comment-header__title {
          font-size: 1.5rem;
          font-weight: 400;
          padding-left: 0;
        }
      }
      &.active {
        display: block;
        margin-bottom: 15px;
        pre {
          word-break: break-word;
          white-space: pre-line;
        }
      }
    }
  }
}
.openComments,
.closeComments {
  margin: 1em 0;
  cursor: pointer;
}

@include media-breakpoint(tm) {
  vm-comment {
    display: none !important;
  }
}
