.header {
  height: 120px;
}

.mobile-header {
  height: 50px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  align-items: flex-start;
  margin-top: 10px;
}

.mobile-main-content {
  //display: grid;
  place-items: center;
  width: 100%;
  margin-top: 5px;
}
