@if (isEditable) {
<mat-form-field [ngClass]="isMobile ? 'mat-form-field__mobile' : 'mat-form-field'">
  <mat-label>{{ labelTranslationKey | translate }}</mat-label>
  <mat-select
    [compareWith]="compareFn"
    [placeholder]="labelTranslationKey | translate"
    required="true"
    [formControl]="formControl"
    ngDefaultControl
    [attr.aria-label]="placeholder | translate"
  >
    @for (option of options$ | async; track option) {
    <mat-option [value]="option" [attr.aria-label]="option.code | translate">
      {{ translationKey + '.' + option.code | translate }}
    </mat-option>
    }
  </mat-select>
</mat-form-field>
} @if (!isEditable) {
<mat-form-field class="detailed-card-content__form-field">
  <mat-label vmTranslate="{{ labelTranslationKey | translate }}" [attr.aria-label]="labelTranslationKey | translate"></mat-label>
  @if (!isMobile) {
  <input matInput [attr.aria-label]="mainValueKey" value="{{ mainValueKey }}" disabled />
  } @if (isMobile) {
  <textarea matInput [attr.aria-label]="mainValueKey" value="{{ mainValueKey }}" disabled></textarea>
  }
</mat-form-field>
}
