<mat-dialog-content *ngIf="data.message" role="dialog" [ngClass]="isMobile ? 'mobile-mat-dialog-content' : 'mat-dialog-content'">
  <mat-card-content [innerHTML]="data.message"></mat-card-content>
</mat-dialog-content>
<mat-dialog-actions [ngClass]="isMobile ? 'mobile-mat-dialog-actions' : 'mat-dialog-actions'">
  <div>
    <button
      mat-raised-button
      class="mat-button"
      color="accent"
      (click)="onYesClick()"
      [mat-dialog-close]="false"
      [attr.aria-labelledby]="'buttons.YES' | translate"
      id="yes-btn"
    >
      <ng-container class="button-content">
        <span class="button-text" [vmTranslate]="'buttons.YES'"></span>
      </ng-container>
    </button>

    <button
      mat-raised-button
      class="mat-button"
      color="warn"
      (click)="onNoClick()"
      [mat-dialog-close]="false"
      [attr.aria-labelledby]="'buttons.NO' | translate"
      id="no-btn"
    >
      <ng-container class="button-content">
        <span class="button-text" [vmTranslate]="'buttons.NO'"></span>
      </ng-container>
    </button>
  </div>
</mat-dialog-actions>
