@import 'src/assets/scss/global';

:host {
  width: 100%;

  .mat-form-field {
    min-height: 50px !important;
    padding: 0 30px 0 30px;

    .mat-form-field-autofill-control {
      color: rgba(0, 0, 0, 0.8);
      font-style: italic;
    }
  }
}
