@if (isEditable) {
<mat-form-field [ngClass]="isMobile ? 'mat-form-field__mobile' : 'mat-form-field'">
  <mat-label [attr.aria-label]="labelTranslationKey | translate">{{ labelTranslationKey | translate }}</mat-label>
  <input
    matInput
    [formControl]="formControl"
    [matDatepicker]="picker"
    [tabIndex]="isEditable ? 0 : -1"
    (focus)="picker.open()"
    (keydown.enter)="picker.open()"
    [placeholder]="labelTranslationKey | translate"
    [attr.aria-label]="'GLOBAL.DATE_FORMAT' | translate"
    [attr.aria-required]="true"
    role="combobox"
    aria-haspopup="dialog"
  />
  <mat-datepicker-toggle matSuffix [disableRipple]="true" [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  @if (visibleError === 'endDateBeforeStartDate') {
  <mat-error>
    <div>{{ 'GLOBAL.END_DATE_BEFORE_START_DATE' | translate }}</div>
  </mat-error>
  } @if (visibleError === 'futureDate') {
  <mat-error>
    <div>{{ 'GLOBAL.NOT_FUTURE_DATE' | translate }}</div>
  </mat-error>
  } @if (visibleError === 'startDateBeforeEndDate') {
  <mat-error>
    <div>{{ 'GLOBAL.START_DATE_BEFORE_END_DATE' | translate }}</div>
  </mat-error>
  }
</mat-form-field>
} @if (!isEditable) {
<mat-form-field class="detailed-card-content__form-field">
  <mat-label [attr.aria-label]="labelTranslationKey | translate">{{ labelTranslationKey | translate }}</mat-label>
  <input matInput [attr.aria-label]="notEditableValue" value="{{ notEditableValue }}" disabled role="textbox" />
</mat-form-field>
}
