<mat-form-field *ngIf="isEditable" [ngClass]="isMobile ? 'mat-form-field__mobile' : 'mat-form-field'">
  <mat-label [attr.aria-label]="labelTranslationKey | translate">{{ labelTranslationKey | translate }}</mat-label>
  <input
    matInput
    [formControl]="formControl"
    [matDatepicker]="picker"
    [tabIndex]="isEditable ? 0 : -1"
    (focus)="picker.open()"
    (keydown.enter)="picker.open()"
    [placeholder]="labelTranslationKey | translate"
    [attr.aria-label]="'GLOBAL.DATE_FORMAT' | translate"
    [attr.aria-required]="true"
    role="combobox"
    aria-haspopup="dialog"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error *ngIf="formControl.hasError('endDateBeforeStartDate')">
    <div>{{ 'GLOBAL.END_DATE_BEFORE_START_DATE' | translate }}</div>
  </mat-error>
  <mat-error *ngIf="formControl.hasError('futureDate')">
    <div>{{ 'GLOBAL.NOT_FUTURE_DATE' | translate }}</div>
  </mat-error>
</mat-form-field>

<mat-form-field *ngIf="!isEditable" class="detailed-card-content__form-field">
  <mat-label [attr.aria-label]="labelTranslationKey | translate">{{ labelTranslationKey | translate }}</mat-label>
  <input matInput [attr.aria-label]="notEditableValue" value="{{ notEditableValue }}" disabled role="textbox" />
</mat-form-field>
