<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "logback-spring.dtd">
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>[%d] %-7relative [%thread] %-5level %logger{40} : %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

  <!-- debug own classes by default -->
  <springProfile name="local">
    <logger name="ch.admin.bag" level="DEBUG" />
    
    <!-- additional logger for debugging saml -->
    <logger name="org.opensaml.messaging.encoder.servlet" level="DEBUG" />
    <logger name="PROTOCOL_MESSAGE" level="DEBUG" />
  </springProfile>
</configuration>