@use 'src/assets/scss/breakpoints' as breakpoints;
@use 'src/assets/scss/mixins' as mixins;
@use 'src/assets/scss/variables' as *;

// Main content container
main {
  margin-top: $toolbar-height-mobile;
  min-height: calc(100vh - #{$toolbar-height-mobile});
  padding: 20px 0;
}

// Drawer container
.mat-drawer-container {
  background: $toolbar-background-color;

  .mat-drawer {
    width: 75vw;
    max-width: 400px;
    background: $toolbar-background-color;
    position: fixed;
    @include mixins.logoSize($logo-size-mobile, $logo-size-mobile);
    @include mixins.communityLogoSize($community-logo-size-mobile);

    // Shared styles for drawer-content and drawer-actions
    .drawer-shared {
      display: grid;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }

    .drawer-content {
      @extend .drawer-shared;

      display: grid;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;

      .patient-name {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .syringe {
          width: 60px;
          height: 60px;
        }

        .mat-label {
          margin-top: 0.5rem;
          font-size: 1rem;
        }
      }

      .logout-button {
        display: flex;
        justify-content: center;
        align-items: center;

        .logout-icon {
          width: 30px;
          height: 30px;
        }
      }
    }

    .drawer-actions {
      @extend .drawer-shared;
    }
  }

  // Toolbar styles
  .mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    letter-spacing: normal;

    // Desktop toolbar
    &.mat-drawer-container__desktop {
      height: $toolbar-height-desktop;
      max-width: 100vw;
      background: $toolbar-background-color;
      margin-bottom: 5vh;
      @include mixins.flex-center(space-around, center, row);
      @include mixins.logoSize($logo-size-desktop, $logo-size-desktop);
      @include mixins.communityLogoSize($community-logo-size-desktop);
      @include mixins.logout-button($logout-button-size-desktop);

      &.display {
        display: flex;
      }

      &.hide {
        display: none;
      }
    }

    // Mobile toolbar
    &.mat-drawer-container__mobile {
      height: $toolbar-height-mobile;
      background: $toolbar-background-color;
      border-bottom: 1px solid #ccc;
      @include mixins.flex-center(space-between, center, row);

      .menu-patient-wrapper {
        @include mixins.flex-center(space-between, center, row);
      }

      .vm-navigation,
      .vm-language {
        position: absolute;
        width: 100vw;
        height: calc(100vh - #{$toolbar-height-mobile});
        background: $toolbar-background-color;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
      }
    }
  }
}
