<mat-drawer-container class="mat-drawer-container">
  <mat-drawer #drawer mode="over" position="start" class="mat-drawer">
    <!-- Mobile content -->
    <div class="drawer-content" *ngIf="(isMobile || isTablet) && samlService.isSsoRedirectCompleted.getValue()">
      <div class="patient-name">
        <img
          [attr.alt]="'GLOBAL.LOGO_VACCINATION_MODULE' | translate"
          routerLink="/vaccination-record"
          src="./assets/logos/spritze.svg"
          class="syringe"
          [attr.aria-label]="'GLOBAL.HOME' | translate"
        />
        <mat-label class="mat-label mat-list-item">{{ user.prefix + ' ' + user.firstName + ' ' + user.lastName.trim() }}</mat-label>
      </div>
      <div class="logout-button" *ngIf="isVisible">
        <button mat-icon-button role="button" (click)="samlService.logout(); drawer.toggle()">
          <img class="logout-icon" src="./assets/images/logout.png" alt="Logout button image" />
        </button>
      </div>
      <vm-language></vm-language>
      <vm-navigation (toggleSidenav)="drawer.toggle()"></vm-navigation>
      <div aria-hidden="true" class="community-logo">
        <img
          [attr.alt]="'GLOBAL.COMMUNITY_LOGO' | translate"
          src="./assets/logos/company.png"
          [attr.aria-label]="'GLOBAL.COMMUNITY_LOGO' | translate"
        />
        <div class="version">Backend: {{ backendVersion }} | Frontend: {{ frontendVersion }}</div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer #drawerAction mode="over" position="end" class="mat-drawer" *ngIf="showActionSidenav">
    <!-- Mobile content -->
    <div class="drawer-actions" *ngIf="(isMobile || isTablet) && samlService.isSsoRedirectCompleted.getValue()">
      <ng-template [ngIf]="showActionSidenav">
        <vm-details-action *ngIf="!showPatientSidenav"></vm-details-action>
      </ng-template>
      <ng-template [ngIf]="showPatientSidenav">
        <vm-patient-action></vm-patient-action>
      </ng-template>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <!-- Desktop Toolbar -->
    <mat-toolbar
      *ngIf="isDesktop && (isAuthorized || (isAuthorized && samlService.isSsoRedirectCompleted.getValue()))"
      class="mat-drawer-container__desktop"
    >
      <div class="logo">
        <img
          [attr.title]="'GLOBAL.LOGO_VACCINATION_MODULE' | translate"
          [attr.alt]="'GLOBAL.LOGO_VACCINATION_MODULE' | translate"
          routerLink="/vaccination-record"
          src="./assets/logos/spritze.svg"
          class="mat_toolbar__logo__syringe"
          [attr.aria-label]="'GLOBAL.HOME' | translate"
        />
      </div>
      <vm-navigation></vm-navigation>
      <vm-language></vm-language>
      <div class="logout-button" *ngIf="isVisible">
        <button
          mat-icon-button
          role="button"
          [attr.aria-label]="'buttons.LOGOUT' | translate"
          (click)="samlService.logout()"
          [matTooltip]="'buttons.LOGOUT' | translate"
        >
          <img class="logout-icon" src="./assets/images/logout.png" alt="Logout button" />
        </button>
      </div>
      <div fxLayout="column" fxLayoutAlign="flex-start" class="navbar__community">
        <div aria-hidden="true" class="community-logo">
          <img
            [attr.title]="'GLOBAL.COMMUNITY_LOGO' | translate"
            [attr.alt]="'GLOBAL.COMMUNITY_LOGO' | translate"
            src="./assets/logos/company.png"
            [attr.aria-label]="'GLOBAL.COMMUNITY_LOGO' | translate"
          />
        </div>
        <div class="user" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon class="user__icon" [attr.aria-hidden]="true" fontIcon="person"></mat-icon>
          <mat-label>{{ user.prefix + ' ' + user.firstName + ' ' + user.lastName.trim() }}</mat-label>
        </div>
      </div>
    </mat-toolbar>
    <!-- Mobile Toolbar -->
    <mat-toolbar *ngIf="(isMobile || isTablet) && samlService.isSsoRedirectCompleted.getValue()" class="mat-drawer-container__mobile">
      <div class="menu-patient-wrapper">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-hidden="true" *ngIf="samlService.isSsoRedirectCompleted.getValue()">menu</mat-icon>
        </button>
        <vm-patient></vm-patient>
      </div>
      <button mat-icon-button (click)="drawerAction.toggle()" *ngIf="showActionSidenav">
        <mat-icon aria-hidden="true">more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <main>
      <div class="spinner-overlay" *ngIf="spinnerService.IsWait">
        <mat-progress-spinner class="vm-progress-spinner" mode="indeterminate"></mat-progress-spinner>
      </div>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
