<section
  role="region"
  aria-labelledby="vaccination-header"
  class="vaccination_record_wrapper"
  [ngClass]="{
    'vaccination_record_wrapper--desktop': isDesktop,
    'vaccination_record_wrapper--mobile': isMobile
  }"
>
  <mat-card class="vaccination-record__card mat-elevation-z0">
    <mat-card-title class="info-title">
      <div class="patient-name" *ngIf="isDesktop">
        <h1
          id="vaccination-header"
          class="h3-header"
          vmTranslate="GLOBAL.VACCINATION_CARD"
          [attr.aria-label]="'GLOBAL.VACCINATION_CARD' | translate"
        ></h1>
        <vm-patient></vm-patient>
      </div>
      <vm-patient-action *ngIf="isDesktop"></vm-patient-action>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="isMobile ? 'mobile' : 'table-header-wrapper'">
        <h3 class="h3-header" vmTranslate="GLOBAL.VACCINATIONS" [attr.aria-label]="'GLOBAL.VACCINATIONS' | translate"></h3>
        <button
          mat-icon-button
          (click)="addVaccination()"
          (keydown.enter)="addVaccination()"
          [attr.aria-label]="'buttons.ADD_VACCINATION' | translate"
          [disabled]="isEmergencyMode"
        >
          <mat-icon [attr.aria-label]="'buttons.ADD_VACCINATION' | translate" matTooltip="{{ 'buttons.ADD_VACCINATION' | translate }}"
            >add
          </mat-icon>
        </button>
      </div>

      <vm-table-wrapper
        [dataSource]="vaccinations | sortByDate : 'occurrenceDate'"
        [displayedColumns]="vaccinationColumns"
        [translationPrefix]="'VACCINATION.'"
        [fullWidth]="'100%'"
        (rowClick)="navigateToVaccination($event)"
      >
      </vm-table-wrapper>
    </mat-card-content>

    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="isMobile ? 'mobile' : 'table-header-wrapper'">
        <h3 class="h3-header" vmTranslate="ALLERGY.TITLE" [attr.aria-label]="'ALLERGY.TITLE' | translate">Allergy</h3>
        <button
          mat-icon-button
          (click)="addAllergy()"
          (keydown.enter)="addAllergy()"
          [attr.aria-label]="'buttons.ADD_ALLERGY' | translate"
          [disabled]="isEmergencyMode"
        >
          <mat-icon [attr.aria-label]="'buttons.ADD_ALLERGY' | translate" matTooltip="{{ 'buttons.ADD_ALLERGY' | translate }}"
            >add
          </mat-icon>
        </button>
      </div>
      <vm-table-wrapper
        [dataSource]="allergies | sortByDate : 'occurrenceDate'"
        [displayedColumns]="allergyColumns"
        [translationPrefix]="'ALLERGY.'"
        [fullWidth]="'100%'"
        (rowClick)="navigateToAllergy($event)"
      >
      </vm-table-wrapper>
    </mat-card-content>
    <mat-card-content class="illness-table">
      <div fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="isMobile ? 'mobile' : 'table-header-wrapper'">
        <h3 class="h3-header" vmTranslate="ILLNESS.TITLE" [attr.aria-label]="'ILLNESS.TITLE' | translate"></h3>
        <button
          role="button"
          mat-icon-button
          (click)="addIllness()"
          (keydown.enter)="addIllness()"
          [attr.aria-label]="'buttons.ADD_PAST_ILLNESS' | translate"
          [disabled]="isEmergencyMode"
        >
          <mat-icon
            [attr.aria-label]="'buttons.ADD_PAST_ILLNESS' | translate"
            matTooltip="{{ 'buttons.ADD_PAST_ILLNESS' | translate }}"
            role="presentation"
            >add
          </mat-icon>
        </button>
      </div>
      <vm-table-wrapper
        [dataSource]="illnesses | sortByDate : 'recordedDate'"
        [displayedColumns]="illnessesColumns"
        [translationPrefix]="'ILLNESS.'"
        [fullWidth]="'100%'"
        (rowClick)="navigateToIllness($event)"
      >
      </vm-table-wrapper>
    </mat-card-content>

    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="isMobile ? 'mobile' : 'table-header-wrapper'">
        <h3 class="h3-header" vmTranslate="GLOBAL.PROBLEM" [attr.aria-label]="'GLOBAL.PROBLEM' | translate"></h3>
        <button
          role="button"
          mat-icon-button
          (click)="addMedicalProblem()"
          (keydown.enter)="addMedicalProblem()"
          [attr.aria-label]="'buttons.ADD_PROBLEM' | translate"
          [disabled]="isEmergencyMode"
        >
          <mat-icon
            [attr.aria-label]="'buttons.ADD_PROBLEM' | translate"
            matTooltip="{{ 'buttons.ADD_PROBLEM' | translate }}"
            role="presentation"
            >add
          </mat-icon>
        </button>
      </div>

      <vm-table-wrapper
        [dataSource]="medicalProblems | sortByDate : 'occurrenceDate'"
        [displayedColumns]="medicalProblemColumns"
        [translationPrefix]="'MEDICAL_PROBLEM.'"
        [fullWidth]="'100%'"
        (rowClick)="navigateToMedicalProblem($event)"
      >
      </vm-table-wrapper>
    </mat-card-content>
  </mat-card>
</section>
