<mat-card-header>
  <mat-card-title *ngIf="showTitle" class="mat-card-title" vmTranslate="GLOBAL.SAVE_NEW_RECORD_CONFIRM_TITLE"></mat-card-title>
</mat-card-header>
<mat-card-content class="detailed-card-content" fxLayout="column" fxLayoutAlign="space-between" role="group">
  <mat-form-field class="detailed-card-content__form-field">
    <mat-label vmTranslate="VACCINATION.DATE" [attr.aria-label]="'VACCINATION.DATE' | translate"></mat-label>
    <input
      matInput
      value="{{ vaccination?.occurrenceDate | formatDate }}"
      disabled
      [attr.aria-label]="vaccination?.occurrenceDate | formatDate"
    />
  </mat-form-field>

  <mat-form-field class="detailed-card-content__form-field">
    <mat-label vmTranslate="VACCINATION.VACCINE_CODE" [attr.aria-label]="'VACCINATION.VACCINE_CODE' | translate"></mat-label>
    <input
      matInput
      [attr.aria-label]="'VACCINE_CODE.' + vaccination?.vaccineCode?.code | translate"
      value="{{ 'VACCINE_CODE.' + vaccination?.vaccineCode?.code | translate }}"
      disabled
    />
  </mat-form-field>

  <mat-form-field class="detailed-card-content__form-field">
    <mat-label vmTranslate="VACCINATION.TARGET_DISEASES" [attr.aria-label]="'VACCINATION.TARGET_DISEASES' | translate"></mat-label>
    <input
      matInput
      [attr.aria-label]="translateAndConcatenate(vaccination?.targetDiseases)"
      value="{{ translateAndConcatenate(vaccination?.targetDiseases) }}"
      disabled
    />
  </mat-form-field>

  <mat-form-field class="detailed-card-content__form-field">
    <mat-label vmTranslate="VACCINATION.DOSE_NUMBER" [attr.aria-label]="'VACCINATION.DOSE_NUMBER' | translate"> </mat-label>
    <input matInput [attr.aria-label]="vaccination?.doseNumber" value="{{ vaccination?.doseNumber }}." disabled />
  </mat-form-field>

  <mat-form-field class="detailed-card-content__form-field">
    <mat-label vmTranslate="VACCINATION.LOT_NUMBER" [attr.aria-label]="'VACCINATION.LOT_NUMBER' | translate"></mat-label>
    <input matInput [attr.aria-label]="vaccination?.lotNumber" value="{{ vaccination?.lotNumber }}" disabled />
  </mat-form-field>

  <mat-form-field class="detailed-card-content__form-field">
    <mat-label vmTranslate="VACCINATION.VACCINATION_REASON" [attr.aria-label]="'VACCINATION.VACCINATION_REASON' | translate"></mat-label>
    <input
      matInput
      [attr.aria-label]="getTranslatedVaccinationReason(vaccination?.reason?.code)"
      value="{{ getTranslatedVaccinationReason(vaccination?.reason?.code) }}"
      disabled
    />
  </mat-form-field>

  <mat-card
    class="mat-elevation-z0 recorder"
    fxLayout="column"
    fxLayoutAlign="center"
    *ngIf="vaccination?.recorder?.firstName && vaccination?.recorder?.lastName"
  >
    <mat-label vmTranslate="VACCINATION.RECORDER"></mat-label>
    <div class="recorder--fields">
      <mat-form-field class="recorder-form-field">
        <input
          matInput
          disabled
          value="{{ vaccination?.recorder?.prefix || '-' }}"
          [attr.aria-label]="'VACCINATION.RECORDER' | translate"
        />
      </mat-form-field>
      <mat-form-field class="recorder-form-field">
        <input matInput disabled value="{{ vaccination?.recorder?.firstName }}" [attr.aria-label]="'VACCINATION.RECORDER' | translate" />
      </mat-form-field>
      <mat-form-field class="recorder-form-field">
        <input matInput disabled value="{{ vaccination?.recorder?.lastName }}" [attr.aria-label]="'VACCINATION.RECORDER' | translate" />
      </mat-form-field>
    </div>
  </mat-card>
  <mat-form-field class="detailed-card-content__form-field" *ngIf="vaccination?.organization">
    <mat-label vmTranslate="GLOBAL.ORGANIZATION" [attr.aria-label]="'GLOBAL.ORGANIZATION' | translate"></mat-label>
    <input matInput [attr.aria-label]="vaccination?.organization" value="{{ vaccination?.organization }}" disabled />
  </mat-form-field>

  <mat-form-field class="detailed-card-content__form-field">
    <mat-label vmTranslate="GLOBAL.CONFIDENTIALITY" [attr.aria-label]="'GLOBAL.CONFIDENTIALITY' | translate"></mat-label>
    <input
      matInput
      [attr.aria-label]="'CONFIDENTIALITY.' + vaccination?.confidentiality?.code | translate"
      value="{{ 'CONFIDENTIALITY.' + vaccination?.confidentiality?.code | translate }}"
      disabled
    />
  </mat-form-field>

  <mat-form-field class="mat-form-field" *ngIf="vaccination?.commentMessage">
    <mat-label vmTranslate="COMMENT.COMMENT" [attr.aria-label]="'COMMENT.COMMENT' | translate"></mat-label>
    <textarea matInput [attr.aria-label]="vaccination?.commentMessage" value="{{ vaccination?.commentMessage }}" disabled></textarea>
  </mat-form-field>

  <div *ngIf="!isConfirmComponentParent" class="commentsContent">
    <div fxLayout="row" fxLayoutAlign="space-between center" role="group">
      <h3 vmTranslate="GLOBAL.COMMENTS"></h3>
      <mat-icon
        tabindex="0"
        class="openComments"
        *ngIf="!commentsOpened"
        (click)="toggleComments()"
        (keydown.enter)="toggleComments()"
        role="presentation"
        >add</mat-icon
      >
      <mat-icon
        tabindex="0"
        class="closeComments"
        *ngIf="commentsOpened"
        (click)="toggleComments()"
        (keydown.enter)="toggleComments()"
        role="presentation"
        >clear</mat-icon
      >
    </div>

    <mat-card
      *ngIf="vaccination?.comment as comment"
      role="article"
      class="commentsContent_card comment-card mat-elevation-z0"
      [ngClass]="{ active: commentsOpened }"
      [attr.aria-label]="'Comment by {{ comment.author }} on {{ comment.date | formatDate }}'"
    >
      <div class="comment-header">
        <mat-card-subtitle [attr.aria-label]="comment.author">{{ comment.author }}</mat-card-subtitle>
        <mat-card-subtitle [attr.aria-label]="comment.date | formatDate">{{ comment.date | formatDate }}</mat-card-subtitle>
      </div>
      <div class="comment-text" [attr.aria-label]="comment.text">{{ comment.text }}</div>
    </mat-card>
    <p
      *ngIf="!vaccination?.comment"
      vmTranslate="COMMENT.NO_COMMENTS"
      class="commentsContent_card no-comments"
      [ngClass]="{ active: commentsOpened }"
    ></p>
  </div>
</mat-card-content>
