<vm-main-wrapper contentId="allergyList" [isMainContent]="!isEmbedded" [label]="pageTitle">
  <vm-list-header
    class="mat-card mat-elevation-z0"
    [toggle]="toggleHeader"
    (filter)="filter($event)"
    [helpTitle]="'HELP.ALLERGY.LIST.TITLE' | translate"
    [helpBody]="'HELP.ALLERGY.LIST.BODY' | translate"
    (add)="addNewRecord()"
    [title]="'ALLERGY.TITLE'"
  >
  </vm-list-header>
  <vm-table-wrapper
    [dataSource]="allergies"
    [displayedColumns]="displayedColumns"
    [translationPrefix]="'ALLERGY.'"
    [fullWidth]="tableWidth"
    (rowClick)="navigateToDetails($event)"
  >
  </vm-table-wrapper>
</vm-main-wrapper>
