<mat-card class="mat-card mat-elevation-z0" fxLayoutAlign="space-between" *ngIf="isDetailsFooter">
  <button
    mat-raised-button
    type="button"
    role="button"
    [attr.aria-label]="'buttons.BACK | translate'"
    class="previousBtn"
    (click)="previous()"
    (keydown.enter)="previous()"
  >
    <ng-container class="button-content">
      <span class="button-text" [vmTranslate]="'buttons.BACK'"></span>
    </ng-container>
  </button>

  <div class="actionBtns">
    <button
      mat-raised-button
      class="mat-button"
      type="button"
      role="button"
      color="accent"
      (click)="navigateToEdit(item!)"
      (keydown.enter)="navigateToEdit(item!)"
      [attr.aria-label]="'buttons.EDIT' | translate"
      [disabled]="disabled || canEdit || isEmergencyMode"
    >
      <ng-container class="button-content">
        <span class="button-text" [vmTranslate]="'buttons.EDIT'"></span>
      </ng-container>
    </button>

    <button
      mat-raised-button
      class="mat-button"
      type="button"
      role="button"
      color="warn"
      (click)="deleteRecord(item!)"
      (keydown.enter)="deleteRecord(item!)"
      [attr.aria-label]="'buttons.DELETE' | translate"
      [disabled]="disabled"
    >
      <ng-container class="button-content">
        <span class="button-text" [vmTranslate]="'buttons.DELETE'"></span>
      </ng-container>
    </button>
    <button
      type="button"
      role="button"
      mat-raised-button
      [color]="!isMobile ? undefined : 'accent'"
      [attr.aria-label]="'buttons.HELP' | translate"
      (click)="openDialog($event)"
      (keydown.enter)="openDialog($event)"
      [disabled]="disabled"
      [matTooltip]="'buttons.HELP' | translate"
    >
      <ng-template [ngIf]="isMobile">
        <span class="button-text" [vmTranslate]="'buttons.HELP'"></span>
      </ng-template>
      <ng-template [ngIf]="!isMobile">
        <mat-icon class="mat-icon help-icon">help</mat-icon>
      </ng-template>
    </button>

    <button mat-button role="button" (click)="downloadRecord($event)" (keydown.enter)="downloadRecord($event)" [disabled]="disabled">
      <img
        alt="{{ 'buttons.DOWNLOAD' | translate }}"
        [attr.aria-label]="'buttons.DOWNLOAD' | translate"
        matTooltip="{{ 'buttons.DOWNLOAD' | translate }}"
        class="download-icon"
        src="./assets/images/download.png"
      />
    </button>
  </div>
</mat-card>

<mat-card class="mat-card mat-elevation-z0" fxLayout="row" fxLayoutAlign="end" *ngIf="isEditFooter">
  <button
    mat-raised-button
    class="mat-button saveBtn"
    type="submit"
    role="button"
    color="accent"
    (click)="saveRecord($event)"
    (keydown.enter)="saveRecord($event)"
    [attr.aria-label]="'buttons.SAVE' | translate"
    [disabled]="disabled"
  >
    <ng-container class="button-content">
      <span class="button-text" [vmTranslate]="'buttons.SAVE'"></span>
    </ng-container>
  </button>

  <button
    mat-raised-button
    class="mat-button"
    type="button"
    role="button"
    color="warn"
    (click)="previous()"
    (keydown.enter)="previous()"
    [attr.aria-label]="'buttons.CANCEL' | translate"
  >
    <ng-container class="button-content">
      <span class="button-text" [vmTranslate]="'buttons.CANCEL'"></span>
    </ng-container>
  </button>
  <button
    type="button"
    role="button"
    mat-raised-button
    class="mat-button helpBtn"
    [color]="!isMobile ? undefined : 'accent'"
    [attr.aria-label]="'buttons.HELP' | translate"
    (click)="openDialog($event)"
    (keydown.enter)="openDialog($event)"
    [matTooltip]="'buttons.HELP' | translate"
  >
    <ng-template [ngIf]="isMobile">
      <span class="button-text" [vmTranslate]="'buttons.HELP'"></span>
    </ng-template>
    <ng-template [ngIf]="!isMobile">
      <mat-icon class="mat-icon help-icon">help</mat-icon>
    </ng-template>
  </button>
</mat-card>
