<section *ngIf="infectiousDiseases!" [ngClass]="isMobile ? 'mobile-detail-wrapper' : 'detail-wrapper'">
  <mat-card class="detail-wrapper__card" [ngClass]="isMobile ? 'mat-elevation-z0' : 'mat-card mat-elevation-z10'">
    <mat-card-header class="detail-wrapper__card-title mat-card-title">
      <mat-card-title vmTranslate="ILLNESS.DETAILS_HEADER" [attr.aria-label]="'ILLNESS.DETAILS_HEADER' | translate"> </mat-card-title>
    </mat-card-header>
    <mat-card-content class="detail-wrapper__card-content mat-card-content">
      <vm-infectious-diseases-detailed-information [infectiousDiseases]="infectiousDiseases"></vm-infectious-diseases-detailed-information>
    </mat-card-content>
    <vm-details-action *ngIf="!isMobile" class="details__action"></vm-details-action>
  </mat-card>
  <vm-comment class="detail-wrapper__comment" [comment]="infectiousDiseases.comment!" [canAddComments]="false"></vm-comment>
</section>
