<mat-card class="mat-elevation-z0 recorder">
  <mat-label vmTranslate="MEDICAL_PROBLEM.RECORDER" [attr.aria-label]="'MEDICAL_PROBLEM.RECORDER' | translate"></mat-label>
  <div class="recorder--fields">
    <mat-form-field>
      <input matInput disabled value="{{ recorder.prefix }}" [attr.aria-label]="recorder.prefix" />
    </mat-form-field>
    <mat-form-field>
      <input matInput disabled value="{{ recorder.firstName }}" [attr.aria-label]="recorder.firstName" />
    </mat-form-field>
    <mat-form-field>
      <input matInput disabled value="{{ recorder.lastName }}" [attr.aria-label]="recorder.lastName" />
    </mat-form-field>
  </div>
</mat-card>
<mat-form-field class="organization">
  <mat-label vmTranslate="MEDICAL_PROBLEM.ORGANIZATION" [attr.aria-label]="'MEDICAL_PROBLEM.ORGANIZATION' | translate"></mat-label>
  <input matInput [attr.aria-label]="organization" value="{{ organization }}" disabled />
</mat-form-field>
