.mat-card {
  padding: 20px;
  margin: 0;
  max-height: 500px;
  overflow-y: auto;
  .mat-card-header {
    padding: 0;
    margin: 8px;
    .h3-header {
      margin-left: 16px;
      margin-right: 16px;
      flex-grow: 1;
      word-break: break-word;
    }
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .close-button {
      flex-shrink: 0;
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
  .mat-mdc-card-title {
    margin-left: -8px;
  }

  // Help text sizing
  --mat-dialog-supporting-text-color: black !important;
  --mat-dialog-supporting-text-size: 14px !important;
  --mat-dialog-supporting-text-weight: 400 !important;
  // Removes box-shadow on mobile view
  --mat-card-elevated-container-elevation: none !important;

  .mdc-card__actions {
    margin-left: 6px;
  }

  // Unexpected error button styling
  .mat-mdc-button:not(:disabled) {
    background: var(--alert-color);
    color: #fff;
  }
}
