@import 'src/assets/scss/global';
.actionBtns {
  &--mobile {
    @include flex-center(center, center, column);
    & button {
      width: 150px !important;
      margin-bottom: 10px;
    }
    & > section {
      @include flex-center(center, center, column);
    }
    & .previousBtn {
      display: none;
    }
  }
  &--desktop {
    @include flex-center(space-between, center, row);
    & > button {
      margin-right: 10px;
    }
  }
}
