<mat-card-actions
  class="actions"
  [ngClass]="{
    'actionBtns--mobile': isMobile,
    'actionBtns--desktop': !isMobile
  }"
>
  <button
    mat-raised-button
    type="button"
    [attr.aria-label]="'buttons.BACK | translate'"
    class="mat-button previousBtn"
    (click)="previous()"
  >
    <ng-container class="button-content">
      <span class="button-text" [vmTranslate]="'buttons.BACK'"></span>
    </ng-container>
  </button>
  <section>
    @if (canValidate) {
    <button
      mat-raised-button
      type="button"
      role="button"
      class="mat-button"
      color="accent"
      (click)="validateRecord()"
      [disabled]="!canValidate || isValidateDisabled"
      [attr.aria-label]="'buttons.VALIDATE | translate'"
    >
      <ng-container class="button-content">
        <span class="button-text" [vmTranslate]="'buttons.VALIDATE'"></span>
      </ng-container>
    </button>
    }

    <button
      mat-raised-button
      [ngClass]="isMobile ? 'mobile-mat-button' : 'mat-button'"
      type="button"
      color="accent"
      (click)="editRecord()"
      [attr.aria-label]="'buttons.EDIT' | translate"
      [disabled]="isEditOrDeleteDisabled"
    >
      <ng-container class="button-content">
        <span class="button-text" [vmTranslate]="'buttons.EDIT'"></span>
      </ng-container>
    </button>

    <button
      mat-raised-button
      [ngClass]="isMobile ? 'mobile-mat-button' : 'mat-button'"
      type="button"
      [color]="isEditOrDeleteDisabled ? 'accent' : 'warn'"
      (click)="deleteRecord()"
      [attr.aria-label]="'buttons.DELETE' | translate"
      [disabled]="isEditOrDeleteDisabled"
    >
      <ng-container class="button-content">
        <span class="button-text" [vmTranslate]="'buttons.DELETE'"></span>
      </ng-container>
    </button>

    <button
      type="button"
      mat-raised-button
      [color]="!isMobile ? undefined : 'accent'"
      [ngClass]="isMobile ? 'mobile-mat-button' : 'mat-action-button'"
      [attr.aria-label]="'buttons.DOWNLOAD'"
      (click)="download()"
      [matTooltip]="'buttons.DOWNLOAD' | translate"
    >
      @if (isMobile) {
      <span class="button-text" [vmTranslate]="'buttons.DOWNLOAD'"></span>
      } @if (!isMobile) {
      <img
        [attr.aria-label]="'buttons.DOWNLOAD' | translate"
        alt="{{ 'buttons.DOWNLOAD' | translate }}"
        class="download-icon"
        src="./assets/images/download.png"
      />
      }
    </button>

    <button
      type="button"
      mat-raised-button
      [color]="!isMobile ? undefined : 'accent'"
      [ngClass]="isMobile ? 'mobile-mat-button' : 'mat-action-button'"
      [attr.aria-label]="'buttons.HELP' | translate"
      (click)="this.openHelpDialog()"
      [matTooltip]="'buttons.HELP' | translate"
    >
      @if (isMobile) {
      <span class="button-text" [vmTranslate]="'buttons.HELP'"></span>
      } @if (!isMobile) {
      <mat-icon class="mat-icon help-icon">help</mat-icon>
      }
    </button>
  </section>
</mat-card-actions>
