@use 'src/assets/scss/global';

.actionBtns {
  &--mobile {
    @include global.flex-center(center, center, column);
    & button {
      width: 150px !important;
      margin-bottom: 10px;
      height: 36px !important;
    }
    & > section {
      @include global.flex-center(center, center, column);
    }
    & .previousBtn {
      display: none;
    }
  }
  &--desktop {
    @include global.flex-center(space-between, center, row);
    & > button {
      margin-right: 10px;
    }
  }
}

// Material library changes
.mdc-card__actions {
  padding: 8px 20px;
}
