<vm-main-wrapper contentId="allergyList" [isMainContent]="!isEmbedded" [label]="pageTitle">
  <div class="main-wrapper">
    <mat-card class="mat-card mat-elevation-z5 mat-card-details mat-card-content" fxLayout="column" fxLayoutAlign="space-between">
      <mat-card-header>
        <mat-card-title>
          <h1 class="h3-header" *ngIf="allergy" vmTranslate="ALLERGY.EDIT_HEADER"></h1>
          <h1 class="h3-header" *ngIf="!allergy" vmTranslate="ALLERGY.NEW_HEADER"></h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="editForm" name="form" novalidate (ngSubmit)="save()" class="form">
          <mat-form-field class="mat-form-field mat-form-field-width-100 date">
            <input
              matInput
              [matDatepicker]="picker"
              required
              formControlName="occurrenceDate"
              (click)="picker.open()"
              [placeholder]="'ALLERGY.OCCURRENCE_DATE' | translate | titlecase"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-select
              [placeholder]="'ALLERGY.ALLERGY_CODE' | translate | titlecase"
              #singleSelect
              formControlName="allergyCode"
              required="true"
              [formControl]="allergiesControl"
              ngDefaultControl
            >
              <mat-option>
                <ngx-mat-select-search [formControl]="allergiesControl"></ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let allergy of filteredAllergies | async"
                vmTranslate="{{ 'ALLERGY_NAMES.' + allergy.code }}"
                [value]="allergy"
              >
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select
              [placeholder]="'ALLERGY.CRITICALITY' | translate | titlecase"
              formControlName="criticality"
              #allergyCriticality
              ngDefaultControl
            >
              <mat-option [value]="null">{{ 'GLOBAL.NONE_OPTION' | translate }}</mat-option>
              <mat-option *ngFor="let state of allergiesCriticality | async" [value]="state">
                {{ 'ALLERGY_SEVERITY.' + state.code | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select
              [placeholder]="'ALLERGY.CLINICAL_STATUS' | translate | titlecase"
              required="true"
              formControlName="clinicalStatus"
              #clinicalStatus
              ngDefaultControl
            >
              <mat-option *ngFor="let state of allergyStatus | async" [value]="state">
                {{ 'ALLERGY_CLINICAL_STATUS.' + state.code | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select
              [placeholder]="'ALLERGY.VERIFICATION_STATUS' | translate | titlecase"
              required="true"
              formControlName="verificationStatus"
              #verificationStatus
              ngDefaultControl
            >
              <mat-option
                *ngFor="let state of allergyVerificationStats | async"
                [value]="state"
                vmTranslate=" {{ 'ALLERGY_VERIFICATION_STATUS.' + state.code | translate }}"
              >
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card class="mat-elevation-z0 group" fxLayout="column" fxLayoutAlign="center">
            <mat-label class="mat-label" vmTranslate="ALLERGY.RECORDER"></mat-label>
            <div class="recorder-group" formGroupName="recorder">
              <mat-form-field class="mat-form-field">
                <input matInput formControlName="prefix" [placeholder]="'USER.PREFIX' | translate | titlecase" />
              </mat-form-field>

              <mat-form-field class="mat-form-field">
                <input
                  matInput
                  formControlName="firstName"
                  #fName
                  [required]="!org.value"
                  [placeholder]="'USER.FIRSTNAME' | translate | titlecase"
                />
              </mat-form-field>

              <mat-form-field class="mat-form-field">
                <input
                  matInput
                  formControlName="lastName"
                  [required]="!org.value || !!fName.value"
                  [placeholder]="'USER.LASTNAME' | translate | titlecase"
                />
              </mat-form-field>
            </div>
          </mat-card>

          <mat-form-field class="mat-form-field mat-form-field-width-100 dose">
            <input
              matInput
              type="text"
              formControlName="organization"
              [placeholder]="'ALLERGY.ORGANIZATION' | translate | titlecase"
              required="true"
              #org
              [required]="!fName.value"
            />
          </mat-form-field>
          <mat-form-field class="mat-form-field mat-form-field-width-100">
            <mat-label class="mat-label" vmTranslate="GLOBAL.COMMENT"></mat-label>
            <textarea matInput formControlName="commentMessage"></textarea>
          </mat-form-field>
          <vm-common-card-footer
            [isEditFooter]="true"
            [dialogTitle]="helpDialogTitle | translate"
            [dialogBody]="helpDialogBody | translate"
            (edit)="save()"
            [disabled]="editForm.invalid || isSaving"
          >
          </vm-common-card-footer>
        </form>
      </mat-card-content>
    </mat-card>
    <vm-comment [comments]="allergy?.comments!"></vm-comment>
  </div>
</vm-main-wrapper>
