<mat-card-actions class="mat-card-actions">
  <button
    mat-raised-button
    [attr.aria-label]="label | translate"
    [type]="type"
    [color]="color"
    [disabled]="disabled"
    *ngIf="isVisible"
    class="mat-button"
  >
    <ng-container class="button-content">
      <mat-icon *ngIf="iconName" class="mat-icon" aria-hidden="false" aria-label="Example home icon">{{ iconName }}</mat-icon>
      <span class="button-text" [vmTranslate]="label"></span>
    </ng-container>
  </button>
</mat-card-actions>
