<div class="detail-wrapper">
  <mat-card class="detail-wrapper__card" [ngClass]="isMobile ? 'mat-elevation-z0' : 'mat-elevation-z10'">
    <mat-card-header class="detail-wrapper__card-title mat-card-title">
      <mat-card-title
        *ngIf="adverseEvent"
        vmTranslate="ALLERGY.EDIT_HEADER"
        [attr.aria-label]="'ALLERGY.EDIT_HEADER' | translate"
      ></mat-card-title>
      <mat-card-title
        *ngIf="!adverseEvent"
        vmTranslate="ALLERGY.NEW_HEADER"
        [attr.aria-label]="'ALLERGY.NEW_HEADER' | translate"
      ></mat-card-title>
    </mat-card-header>

    <mat-card-content class="detail-wrapper__card-content form-wrapper">
      <form
        [formGroup]="editForm"
        #formGroupDirective="ngForm"
        name="form"
        novalidate
        (ngSubmit)="save()"
        class="form-wrapper__form"
        role="form"
      >
        <vm-reusable-date-field
          [formControl]="editForm.controls.occurrenceDate"
          [labelTranslationKey]="'ALLERGY.DATE'"
          [isEditable]="true"
          formControlName="occurrenceDate"
        ></vm-reusable-date-field>

        <vm-reusable-select-field-with-search
          #singleSelect
          [isRequired]="true"
          [options$]="filteredAllergies"
          [item]="adverseEvent?.code!"
          [isEditable]="true"
          [translationKey]="'ALLERGY'"
          [labelKey]="'ALLERGY_CODE'"
          [formControl]="editForm.controls.code"
          formControlName="code"
        ></vm-reusable-select-field-with-search>

        <vm-reusable-recorder-field
          [parentForm]="editForm"
          [recorder]="adverseEvent?.recorder!"
          [organization]="adverseEvent?.organization!"
          [isEditable]="true"
        >
        </vm-reusable-recorder-field>

        <mat-form-field *ngIf="isMobile" class="detailed-card-content__form-field">
          <mat-label [attr.aria-label]="'GLOBAL.COMMENT' | translate" class="mat-label" vmTranslate="GLOBAL.COMMENT"></mat-label>
          <textarea
            matInput
            [value]="editForm.get('comment')?.value?.text || ''"
            (input)="commentMessage = $event.target.value"
            [attr.aria-label]="'GLOBAL.COMMENT' | translate"
            [placeholder]="'COMMENT.PLACEHOLDER' | translate"
          ></textarea>
        </mat-form-field>

        <vm-reusable-select-field-with-search
          [options$]="confidentialityList"
          [item]="adverseEvent?.confidentiality!"
          [isEditable]="true"
          [translationKey]="'GLOBAL'"
          [labelKey]="'CONFIDENTIALITY'"
          [formControl]="editForm.controls.confidentiality"
          formControlName="confidentiality"
        ></vm-reusable-select-field-with-search>

        <vm-common-card-footer
          [isEditFooter]="true"
          [dialogTitle]="helpDialogTitle | translate"
          [dialogBody]="helpDialogBody | translate"
          (edit)="save()"
          [disabled]="editForm.invalid || isSaving"
        >
        </vm-common-card-footer>
      </form>
    </mat-card-content>
  </mat-card>
  <vm-comment
    class="detail-wrapper__comment"
    [(commentMessage)]="commentMessage"
    [comment]="adverseEvent?.comment!"
    [canAddComments]="true"
  ></vm-comment>
</div>
