@use 'src/assets/scss/global';

:host {
  display: flex;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  --mat-card-subtitle-text-font: system-ui;

  .mat-card {
    flex: 1;
    padding-bottom: 0;
    padding-left: 16px;
    color: #231f20;

    // Comments title
    .mat-mdc-card-title {
      margin-bottom: 20px;
      font-family: system-ui;
    }

    .comment-card {
      .comment-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-right: 20px;
      }

      textarea[matInput] {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        resize: none;
        overflow-y: auto;
        max-height: calc(30 * 1.5em);
        line-height: 1.5;
      }

      .comment-text {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        word-break: break-word;
        white-space: pre-line;
        font-family: system-ui;
      }
    }
  }
  .no-comments {
    text-align: center;
  }
}

// Comments container
.mat-elevation-z5 {
  margin-right: 10px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
