:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-card {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 65% auto;
  row-gap: 0;
}
.no-comments {
  text-align: center;
}
