<mat-card role="region" class="mat-elevation-z5 mat-card">
  <mat-card-header>
    <mat-card-title [attr.aria-label]="'GLOBAL.COMMENTS' | translate" vmTranslate="GLOBAL.COMMENTS"></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card
      *ngFor="let comment of comments"
      role="article"
      class="comment-card mat-elevation-z0"
      [attr.aria-label]="'Comment by {{ comment.author }} on {{ comment.date | formatDate }}'"
    >
      <div class="comment-header">
        <mat-card-subtitle [attr.aria-label]="comment.author">{{ comment.author }}</mat-card-subtitle>
        <mat-card-subtitle [attr.aria-label]="comment.date | formatDate">{{ comment.date | formatDate }}</mat-card-subtitle>
      </div>
      <div class="comment-text" [attr.aria-label]="comment.text">{{ comment.text }}</div>
    </mat-card>
  </mat-card-content>
</mat-card>
