@use 'src/assets/scss/global';

.nav {
  &__desktop {
    & > * {
      display: inline-grid;
      padding: 0 10px;
      box-shadow: none;
    }

    & > *:not(:first-child):not(:last-child) {
      margin: 0 10px;
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;

    & > a {
      margin: 10px 0;
    }
  }

  &__tablet {
    display: flex;
    flex-direction: column;
  }
}
