<div class="detail-wrapper">
  <mat-card class="detail-wrapper__card" [ngClass]="isMobile ? 'mat-elevation-z0' : 'mat-elevation-z10'">
    <mat-card-header class="detail-wrapper__card-title mat-card-title">
      <mat-card-title
        *ngIf="illness"
        vmTranslate="ILLNESS.EDIT_HEADER"
        [attr.aria-label]="'ILLNESS.EDIT_HEADER' | translate"
      ></mat-card-title>
      <mat-card-title
        *ngIf="!illness"
        vmTranslate="ILLNESS.NEW_HEADER"
        [attr.aria-label]="'ILLNESS.EDIT_HEADER' | translate"
      ></mat-card-title>
    </mat-card-header>

    <mat-card-content class="detail-wrapper__card-content form-wrapper">
      <form
        [formGroup]="editForm"
        #formGroupDirective="ngForm"
        name="form"
        novalidate
        (ngSubmit)="save()"
        class="form-wrapper__form"
        role="form"
      >
        <vm-reusable-date-field
          [formControl]="editForm.controls.recordedDate"
          [labelTranslationKey]="'ILLNESS.DATE'"
          [isEditable]="true"
          formControlName="recordedDate"
        ></vm-reusable-date-field>

        <vm-reusable-select-field-with-search
          #singleSelect
          [isRequired]="true"
          [options$]="illnessesFilteredList"
          [item]="illness?.code!"
          [isEditable]="true"
          [translationKey]="'ILLNESS'"
          [labelKey]="'ILLNESS_CODE'"
          [formControl]="editForm.controls.code"
          formControlName="code"
        ></vm-reusable-select-field-with-search>

        <mat-card class="mat-elevation-z0 form-wrapper__form-date-range" fxLayout="row" fxLayoutAlign="space-between">
          <vm-reusable-date-field
            [formControl]="editForm.controls.begin"
            [labelTranslationKey]="'ILLNESS.BEGIN'"
            [isEditable]="true"
            formControlName="begin"
          >
          </vm-reusable-date-field>

          <vm-reusable-date-field
            [formControl]="editForm.controls.end"
            [labelTranslationKey]="'ILLNESS.END'"
            [isEditable]="true"
            formControlName="end"
          >
          </vm-reusable-date-field>
        </mat-card>

        <vm-reusable-recorder-field
          [parentForm]="editForm"
          [recorder]="illnesses?.recorder!"
          [organization]="illnesses?.organization!"
          [isEditable]="true"
        >
        </vm-reusable-recorder-field>
        <mat-form-field *ngIf="isMobile" class="detailed-card-content__form-field">
          <mat-label class="mat-label" vmTranslate="GLOBAL.COMMENT" [attr.aria-label]="'GLOBAL.COMMENT' | translate"></mat-label>
          <textarea
            matInput
            [value]="editForm.get('comment')?.value?.text || ''"
            (input)="commentMessage = $event.target.value"
            [attr.aria-label]="'GLOBAL.COMMENT' | translate"
            [placeholder]="'COMMENT.PLACEHOLDER' | translate"
          ></textarea>
        </mat-form-field>

        <vm-reusable-select-field-with-search
          [options$]="confidentialityList"
          [item]="illness?.confidentiality!"
          [isEditable]="true"
          [translationKey]="'GLOBAL'"
          [labelKey]="'CONFIDENTIALITY'"
          [formControl]="editForm.controls.confidentiality"
          formControlName="confidentiality"
        ></vm-reusable-select-field-with-search>
        <vm-common-card-footer
          [isEditFooter]="true"
          [dialogTitle]="helpDialogTitle | translate"
          [dialogBody]="helpDialogBody | translate"
          (edit)="save()"
          [disabled]="editForm.invalid || isSaving"
        ></vm-common-card-footer>
      </form>
    </mat-card-content>
  </mat-card>
  <vm-comment
    class="detail-wrapper__comment"
    [(commentMessage)]="commentMessage"
    [comment]="illnesses?.comment!"
    [canAddComments]="true"
  ></vm-comment>
</div>
