<div [ngClass]="isMobile ? 'mobile-list-wrapper' : 'list-wrapper'">
  <vm-list-header
    class="mat-card mat-elevation-z0"
    [toggle]="toggleHeader"
    (filter)="filterVaccinations($event)"
    [helpTitle]="'HELP.VACCINATION.LIST.TITLE' | translate"
    [helpBody]="'HELP.VACCINATION.LIST.BODY' | translate"
    (add)="addNewRecord()"
  ></vm-list-header>
  <vm-table-wrapper
    [dataSource]="vaccinations"
    [displayedColumns]="vaccinationColumns"
    [enableGrouping]="true"
    [translationPrefix]="'VACCINATION.'"
    [fullWidth]="tableWidth"
    (rowClick)="navigateToDetails($event)"
    [tableName]="'VACCINATION.TITLE' | translate"
  >
  </vm-table-wrapper>
</div>
