@use 'src/assets/scss/_mixins' as mixins;

.mobile-mat-card {
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: none;

  .mat-mdc-card {
    flex-direction: column !important;
  }

  .mat-mdc-card-header,
  .mat-mdc-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .search-input-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .mdc-button {
    margin-right: -26px;
    margin-left: -12px;

    .mat-icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
    }
  }
}

.desktop-mat-card {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-shadow: none;

  mat-card-title {
    padding: 0;
    margin-top: 20px;
  }

  .search-input-wrapper {
    width: 400px;
  }

  .mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .mat-mdc-raised-button.mat-accent {
      --mat-button-protected-container-color: rgba(2, 101, 96, 1);
    }
  }
}

.mat-card-actions {
  @include mixins.flex-center(center, center, row);
}

.mat-elevation-z0 {
  padding: 0 !important;
}

.mat-mdc-card-header {
  display: contents;
}

.mat-mdc-form-field.mdc-text-field {
  padding: 0;
}

.mat-card-actions:not(.mat-card-actions-align-end) .mat-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-raised-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-stroked-button:first-child {
  margin-left: 0;
  margin-right: 35px;
}

.mat-mdc-card-content:last-child {
  padding: 0;
}

.mat-mdc-card-content {
  .mat-mdc-form-filled {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
  }

  .mat-mdc-form-field {
    .mat-mdc-input-element {
      font-weight: 200;
    }
  }

  .mat-mdc-card-actions {
    .mdc-button--raised {
      margin-right: 25px;
    }

    .mdc-button--unelevated {
      height: 36px !important;
      width: 24px !important;
      padding: 0 !important;
      min-width: auto;
      margin-right: -10px;
    }

    .mat-mdc-unelevated-button > .mat-icon {
      margin-right: 0;
      margin-left: 0;
      font-size: 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
