@import 'src/assets/scss/global';

.mobile-mat-card {
  max-width: 100%;
  padding: 0;
  margin: 0;

  .mat-card-header,
  .mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .search-input-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.desktop-mat-card {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  mat-card-title {
    padding: 0;
  }

  .search-input-wrapper {
    width: 400px;
  }

  .mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.mat-card-actions {
  @include flex-center(center, center, row);
}

.mat-elevation-z0 {
  padding: 0 !important;
}

::ng-deep {
  .mat-card-header-text {
    margin: 0 !important;
  }

  .mat-flat-button {
    min-width: auto;
    padding: 0;
  }
}

.mat-card-actions:not(.mat-card-actions-align-end) .mat-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-raised-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-stroked-button:first-child {
  margin-left: 0;
  margin-right: 35px;
}
