<section class="detail-wrapper" *ngIf="illness!">
  <mat-card class="mat-card mat-elevation-z10">
    <mat-card-header class="mat-card-header">
      <mat-card-title>
        <h1 vmTranslate="ILLNESS.DETAILS_HEADER" class="h3-header"></h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-content">
      <vm-illness-detailed-information [illness]="illness"></vm-illness-detailed-information>
    </mat-card-content>

    <vm-common-card-footer
      [isDetailsFooter]="true"
      [dialogTitle]="helpDialogTitle"
      [dialogBody]="helpDialogBody"
      (download)="download(illness)"
      (edit)="editRecord(illness)"
      (delete)="deleteRecord(illness)"
      [disabled]="!!illness.deleted"
    ></vm-common-card-footer>
  </mat-card>
  <vm-comment [comments]="illness.comments!"></vm-comment>
</section>
