@import 'src/assets/scss/global';

.table-content {
  position: relative;

  .refresh-indicator {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .table-wrapper {
    width: 100%;

    .data-row {
      cursor: pointer;
      border-bottom: 1px solid red !important;
    }
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding: 10px;
    padding-right: 24px;
    width: 50px;
    .icon-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      place-items: center;
    }
  }
}

.hidden {
  display: none;
}
