@import 'src/assets/scss/global';

// distribute angular material table styles to all tables
// this is a workaround for the fact that angular material

// does not support table styling
// see

mat-table {
  display: table;
  width: 100%;
  min-width: 80vw;
  vertical-align: middle !important;
  text-align-all: center;
  font-size: var(--font-size-base);
  line-height: calc(var(--font-size-base) * 0.8);

  mat-header-cell,
  th {
    color: var(--text-color-base);
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;

    @for $i from 1 through 10 {
      &:nth-child(#{ $i }) {
        @if ($i == 1) {
          width: 20%;
        }
        @if ($i == 2) {
          width: 30%;
          line-height: 3;
        }
        @if ($i == 5) {
          width: 20%;
        }
      }
    }
  }
  td {
    color: var(--text-color-secondary);
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    @for $i from 1 through 10 {
      &:nth-child(#{ $i }) {
        line-height: calc(var(--font-size-base) * 1.2);
        @if ($i == 1) {
          width: 20%;
        }
        @if ($i == 2) {
          width: 30%;
        }
        @if ($i == 5) {
          width: 20%;
        }
      }
    }
  }
}

.mat-mdc-row {
  cursor: pointer;
}

.warning-icon {
  color: #915704;
  grid-column: 2;
  grid-row: 1;
}

.deleted-icon {
  color: #bb150a;
  grid-column: 3;
  grid-row: 1;
}

.validated-icon {
  color: #026560;
  grid-column: 1;
  grid-row: 1;
}

@include media-breakpoint(tm) {
  .table-content {
    overflow-x: auto;
    white-space: pre;
  }
  // Unwrap table rows
  .mat-mdc-table {
    white-space: unset;
  }
}

.mat-mdc-header-row {
  font-size: 12pt;
  font-weight: 700;
}
