<mat-card-header>
  <mat-card-title *ngIf="showTitle" class="mat-card-title" vmTranslate="GLOBAL.SAVE_NEW_RECORD_CONFIRM_TITLE"></mat-card-title>
</mat-card-header>
<mat-card-content class="detailed-card-content" fxLayout="column" fxLayoutAlign="space-between" *ngIf="infectiousDiseases">
  <vm-reusable-date-field
    [formControl]="infectiousDiseasesForm.controls.recordedDate"
    [labelTranslationKey]="'ILLNESS.DATE'"
    [isEditable]="false"
    [notEditableValue]="infectiousDiseases.recordedDate | formatDate"
  ></vm-reusable-date-field>

  <vm-reusable-select-field
    [formControl]="infectiousDiseasesForm.controls.code!"
    [isEditable]="false"
    [translationKey]="'ILLNESS_CODE'"
    [labelTranslationKey]="'ILLNESS.ILLNESS_CODE'"
    [mainValueKey]="'ILLNESS_CODE.' + infectiousDiseases.code.code! | translate"
  ></vm-reusable-select-field>

  <div fxLayout="row" fxLayoutAlign="space-between" class="datesWrap">
    <vm-reusable-date-field
      [formControl]="infectiousDiseasesForm.controls.begin"
      [labelTranslationKey]="'ILLNESS.BEGIN'"
      [isEditable]="false"
      [notEditableValue]="infectiousDiseases.begin | formatDate"
    ></vm-reusable-date-field>

    <vm-reusable-date-field
      [formControl]="infectiousDiseasesForm.controls.end"
      [labelTranslationKey]="'ILLNESS.END'"
      [isEditable]="false"
      [notEditableValue]="infectiousDiseases.end | formatDate"
    ></vm-reusable-date-field>
  </div>

  <vm-reusable-recorder-field
    [parentForm]="infectiousDiseasesForm"
    [recorder]="infectiousDiseases.recorder!"
    [organization]="infectiousDiseases.organization!"
    [isEditable]="false"
  >
  </vm-reusable-recorder-field>

  <vm-reusable-select-field
    [formControl]="infectiousDiseasesForm.controls.confidentiality!"
    [isEditable]="false"
    [translationKey]="'GLOBAL.CONFIDENTIALITY'"
    [labelTranslationKey]="'GLOBAL.CONFIDENTIALITY'"
    [mainValueKey]="'CONFIDENTIALITY.' + infectiousDiseases.confidentiality.code! | translate"
  >
  </vm-reusable-select-field>

  <mat-form-field class="detailed-card-content__form-field" *ngIf="infectiousDiseases.commentMessage">
    <mat-label vmTranslate="COMMENT.COMMENT" [attr.aria-label]="'COMMENT.COMMENT' | translate"></mat-label>
    <textarea
      matInput
      [attr.aria-label]="infectiousDiseases.commentMessage"
      value="{{ infectiousDiseases.commentMessage }}"
      disabled
    ></textarea>
  </mat-form-field>

  <div *ngIf="!isConfirmComponentParent" class="commentsContent">
    <div fxLayout="row" fxLayoutAlign="space-between center" role="group">
      <h3 vmTranslate="GLOBAL.COMMENTS"></h3>
      <mat-icon
        tabindex="0"
        class="openComments"
        *ngIf="!commentsOpened"
        (click)="toggleComments()"
        (keydown.enter)="toggleComments()"
        role="presentation"
        >add</mat-icon
      >
      <mat-icon
        tabindex="0"
        class="closeComments"
        *ngIf="commentsOpened"
        (click)="toggleComments()"
        (keydown.enter)="toggleComments()"
        role="presentation"
        >clear</mat-icon
      >
    </div>

    <mat-card
      *ngIf="infectiousDiseases?.comment as comment"
      role="article"
      class="commentsContent_card comment-card mat-elevation-z0"
      [ngClass]="{ active: commentsOpened }"
      [attr.aria-label]="'Comment by {{ comment.author }} on {{ comment.date | formatDate }}'"
    >
      <div class="comment-header">
        <mat-card-subtitle [attr.aria-label]="comment.author">{{ comment.author }}</mat-card-subtitle>
        <mat-card-subtitle [attr.aria-label]="comment.date | formatDate">{{ comment.date | formatDate }}</mat-card-subtitle>
      </div>
      <div class="comment-text" [attr.aria-label]="comment.text">{{ comment.text }}</div>
    </mat-card>
    <p
      *ngIf="!infectiousDiseases?.comment"
      vmTranslate="COMMENT.NO_COMMENTS"
      class="commentsContent_card no-comments"
      [ngClass]="{ active: commentsOpened }"
    ></p>
  </div>
</mat-card-content>
